In [1]:
nama = input("Masukkan nama: ")
tempat_lahir = input("Masukkan tempat lahir: ")
tanggal_lahir = input("Masukkan tanggal lahir: ")
alamat = input("Masukkan alamat: ")
SD = input("Masukkan nama SD: ")
SMP = input("Masukkan nama SMP: ")
SMA = input("Masukkan nama SMA: ")

print("** Biodata Sederhana **")
print("Nama:", nama)
print("Tempat Lahir:", tempat_lahir)
print("Tanggal Lahir:", tanggal_lahir)
print("Alamat:", alamat)
print("Pendidikan:")
print("*", SD)
print("*", SMP)
print("*", SMA)

Masukkan nama:  solih
Masukkan tempat lahir:  sukabumi
Masukkan tanggal lahir:  01-08-2004
Masukkan alamat:  sukatengah
Masukkan nama SD:  sukatengah
Masukkan nama SMP:  mts generasi
Masukkan nama SMA:  SMAN 1 CIRACAP

** Biodata Sederhana **
Nama: solih
Tempat Lahir: sukabumi
Tanggal Lahir: 01-08-2004
Alamat: sukatengah
Pendidikan:
* sukatengah
* mts generasi
* SMAN 1 CIRACAP

In [2]:
kalimat = "UNIVERSITAS NUSA PUTRA SUKABUMI"

# a. putra nusa
kata1 = kalimat.split()[2]
kata2 = kalimat.split()[1]
print(f"a. {kata1.lower()} {kata2.lower()}")

# b. NIVERSITAS NSA PTRA SKABMI
kata3 = kalimat[1:11]
kata4 = kalimat[12]
kata5 = kalimat[14:16]
kata6 = kalimat[17]
kata7 = kalimat[19:22]
kata8 = kalimat[23]
kata9 = kalimat[25:28]
kata10 = kalimat[29:31]
print(f"b. {kata3} {kata4}{kata5} {kata6}{kata7} {kata8}{kata9}{kata10}")

# c. SUKABUMI PUTRA NUSA UNIVERSITAS
kata11 = kalimat.split()[3]
kata12 = kalimat.split()[2]
kata13 = kalimat.split()[1]
kata14 = kalimat.split()[0]
print(f"c. {kata11} {kata12} {kata13} {kata14}")

# d. UNPS
kata15 = kalimat[0]
kata16 = kalimat[12]
kata17 = kalimat[17]
kata18 = kalimat[23]
print(f"d. {kata15}{kata16}{kata17}{kata18}")

# e. TAS SAPU BUMI
kata19 = kalimat[8:11]
kata20 = kalimat[14:16]
kata21 = kalimat[17:19]
kata22 = kalimat[27:31]
print(f"e. {kata19} {kata20}{kata21} {kata22}")

a. putra nusa
b. NIVERSITAS NSA PTRA SKABMI
c. SUKABUMI PUTRA NUSA UNIVERSITAS
d. UNPS
e. TAS SAPU BUMI